@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

html {
  font-size: 16px;
  font-family: Roboto !important;
} 
body {
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: Roboto !important;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

nav h3 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  nav h3 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  nav h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  nav h3 {
    font-size: 1.6rem;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  nav h3 {
    font-size: 1.8rem;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    margin-bottom: 0;
  }
}


p {
    margin: 0;
}

nav{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
    transition: all 0.5s ease;
    padding: 0 2rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}

nav li {
    padding: 0 0.5rem !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

nav a{
  font-size:16px !important;
}



/* Strona główna */
.home {
  padding: 0;
}

.home-main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}


.column{
  display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
    align-content: flex-start;
}
.home-description{
  padding: var(--spacing);
}
.home h1{
  font-family: Roboto;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 15px;
}

@media (max-width: 576px) {
  .home h1{
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 1rem;
  }
  nav{
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
  }
}

.home-picture{
  box-shadow: var(--card-box-shadow);
  margin:  var(--spacing);
  transition: 0.5s;
}

.home-picture:hover{
  transform: scale(1.01);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}



.home img{
  width: 100%;
  height: auto;
  object-fit: cover;
}


@media (min-width: 992px) {
  .home a{
    width: 50%;
  }
}

/* Formularz kontaktowy*/



textarea {
    resize: vertical;
  }



/* Galleria projektów */

.projekty-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10rem;
    padding-top: 5rem;
}



.projekty-row img{
    vertical-align: middle;
    width: 33.33%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.5rem;
}


  .gallery-filter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  .gallery-filter .content{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }



  .omnie-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10rem;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    
  }


  .omnie-text p{
    padding-top: 2rem;
    color: var(--primary);
  }

  .omnie-text h1{
    margin: 0;
    padding: 1rem;
    color: #fff;
    background-color: var(--primary);
  }


  .uslugi-form-container{
    display: flex;
    justify-content: space-around;
    padding: 10rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
  }

 


  .picture{
    margin: 1rem;
    height: 100%;
    width: auto;
    box-shadow: var(--card-box-shadow);
  }
  .picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  .projekty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    grid-column-gap: var(--grid-spacing-horizontal);
  }


  @media (min-width: 576px) {
     .projekty article {
      max-width: 510px;
    }
    .projekty header{
      padding: 0;
      height: 25rem;
    }
  }
  @media (min-width: 768px) {
     .projekty article {
      max-width: 700px;
    }
    .projekty header{
      padding: 0;
      height: 25rem;
    }
  }
  @media (min-width: 992px) {
     .projekty article {
      max-width: 920px;
    }
    .projekty header{
      padding: 0;
      height: 25rem;
    }
  }
  @media (min-width: 1200px) {
    .projekty article {
      max-width: 30%;
    }
    .projekty header{
      padding: 0;
      height: 25rem;
    }
  }


  .projekty article{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    height: 100%;
  }
.projekty article:hover{
  transform: scale(1.01);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.projekty header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--card-box-shadow);
}



.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.image-gallery li {
  flex: 1 0 33%; 
  padding: 0.25rem;
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .image-gallery li {
    flex: 1 0 50%; 
  }
}

@media (max-width: 576px) {
  .image-gallery li {
    flex: 1 0 100%; 
  }
}

.image-gallery li img {
  object-fit: cover;
  height: 100%;
  vertical-align: middle;
  transition: 0.5s;
}
.image-gallery img:hover{
  transform: scale(1.01);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.lg-sub-html h4, .lg-sub-html p{
  color: #ffffff;
}
.active{
  scale: 1.1;
  border: solid 4px #ffffff !important;
}
.lg-thumb-item:hover{
  border: solid 4px #ffffff !important;
}

#lg-prev-1, #lg-next-1{
  width: auto;
}